encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1jmta7vlkaykm3g68p7vdr3xmy3yvw93szrqdnjwfgwufsden9ydqy7c0d7"

[data]
    git_name = "JayHennessy"
    git_email = "tjay.hennessy@gmail.com"
    github_username = "JayHennessy"
